ul.list_of_dropdowns {
    /* width: 1070px; */
    /* border-radius: 0 0 20px 20px; */
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(3, 35, 74, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

li {
    float: left;
}

.sub_nav_content {
    width: 1070px;
    margin: 0 auto;
}

/* li a, */

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* li a:hover, */

.dropdown:hover .dropbtn {
    background-color: #284967;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    width: 720px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: #284967;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 10px;
}

.dropdown-content#nav_mythic_section {
    transform: translateX(-74px);
}

.dropdown-content#nav_quests_section {
    transform: translateX(-188px);
}

.dropdown-content#nav_events_section {
    transform: translateX(-305px);
}

/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
} */

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_indicator {
    margin-left: 5px;
    position: relative;
    top: -2px;
    width: 9px;
}

.nav_content_block {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.nav_content_block_whole_width {
    width: 100%;
}

.nav_content_block_whole_width .nav_content_block_entry {
    width: 25%;
    display: inline-block;
}

.nav_content_block_title {
    color: white;
    padding-top: 25px;
    padding-bottom: 5px;
}

.nav_content_block_entry {
    font-size: 14px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.nav_content_block_entry a {
    text-decoration: none;
    color: #78dcff;
}

.nav_content_block_wow_class .nav_content_block_title {
    position: relative;
}

span.dk {
    padding-left: 40px;
    color: #017e8f;
}

span.dh {
    padding-left: 40px;
    color: #8ec73d
}

span.druid {
    padding-left: 40px;
    color: #ab8588;
}

span.hunter {
    padding-left: 40px;
    color: #734720;
}

span.mage {
    padding-left: 40px;
    color: #c0182a;
}

span.monk {
    padding-left: 40px;
    color: #71c156;
}

span.paladin {
    padding-left: 40px;
    color: #efd766;
}

span.priest {
    padding-left: 40px;
    color: #84ccd4d9;
}

span.rogue {
    padding-left: 40px;
    color: #2c983c;
}

span.shaman {
    padding-left: 40px;
    color: #f9ca3d;
}

span.warlock {
    padding-left: 40px;
    color: #6d376e;
}

span.warrior {
    padding-left: 40px;
    color: #bdbec1;
}