#blizzhelp_body {
    background-color: #030e20;
    background-image: url("/images/wallpapers/space_stars_blue.jpg"), url("/images/wallpapers/ice.jpg");
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    margin: 0px;
    padding: 0px;
}

header#header {
    width: 100%;
    min-height: 50px;
    position: relative;
    z-index: 9000;
}

@media only screen and (min-width: 1070px) {
    header#header {
        min-height: initial;
    }
}

#main {
    background-color: #162c44;
    width: 100%;
}

#games {
    width: 1070px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    #main {
        width: 768px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1070px) {
    #main {
        width: 1070px;
        margin: 0 auto;
        position: relative;
    }
}

#header_nav {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(3, 35, 74, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header_nav .game:hover {
    filter: brightness(1.15);
}

#header_nav .game {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: solid 1px rgba(255, 255, 255, 0.15);
}

#header_nav #auth {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 17px;
}

#header_nav #log_in:hover {
    filter: brightness(1.15);
}

header {
    text-decoration: none;
    color: #9d9fa7;
    font-size: 18;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#header_nav #auth a {
    text-decoration: none;
    color: #9d9fa7;
    font-size: 16;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#header_nav .game:first-child {
    border-left: solid 1px rgba(255, 255, 255, 0.15);
}

.game a {
    text-decoration: none;
    color: #9d9fa7;
    font-size: 16;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

span.dk {
    padding-left: 40px;
    color: #017e8f;
}

span.dh {
    padding-left: 40px;
    color: #8ec73d
}

span.druid {
    padding-left: 40px;
    color: #ab8588;
}

span.hunter {
    padding-left: 40px;
    color: #734720;
}

span.mage {
    padding-left: 40px;
    color: #c0182a;
}

span.monk {
    padding-left: 40px;
    color: #71c156;
}

span.paladin {
    padding-left: 40px;
    color: #efd766;
}

span.priest {
    padding-left: 40px;
    color: #84ccd4d9;
}

span.rogue {
    padding-left: 40px;
    color: #2c983c;
}

span.shaman {
    padding-left: 40px;
    color: #f9ca3d;
}

span.warlock {
    padding-left: 40px;
    color: #6d376e;
}

span.warrior {
    padding-left: 40px;
    color: #bdbec1;
}