ul {
    /* width: 1070px; */
    /* border-radius: 0 0 20px 20px; */
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(3, 35, 74, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

li {
    float: left;
}

.sub_nav_content {
    width: 1070px;
    margin: 0 auto;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #284967;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #284967;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_indicator {
    margin-left: 5px;
    position: relative;
    top: -2px;
    width: 9px;
}