.sprite_game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;    
}

#sprite_wow{
    content: url("/images/icons/games/wow.png");
}

#sprite_overwatch{
    content: url("/images/icons/games/overwatch.png");
}

#sprite_hearthstone{
    content: url("/images/icons/games/hearthstone.png");
}