#blizzhelp_body{
    background-color:#030e20;
    background-image: url("/images/wallpapers/space_stars_blue.jpg"),url("/images/wallpapers/ice.jpg");
    background-repeat: no-repeat;    
    background-position: center top,center bottom;
}