extends ../../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")     

block scripts    
    script var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize:'small'};
    script(src="//wow.zamimg.com/widgets/power.js")

block title
    |Танкование в World of Warcraft

block title_main
    h1(class="editable")
        |Танкование в World of Warcraft

block body
    h2(class="editable") 
        |1. Цель этой статьи

    p(class="editable") 
        |&emsp;
        |В этой статье я попытаюсь охватить все аспекты танкования и расскажу
        |все что вам нужно знать для эффективной игры в роле танка.
        |Полезной статью могут найти как новички так и опытные игроки.       

    p(class="editable")
        |&emsp;
        |В этой статье не будет подробностей выбора талантов, описания обнаруживания невидимых противников и т.д.Вы 
        |можете найти всю конкретную информацию, относящуюся к классам танков в моих существующих руководствах.
        |Но это не означает, что я не буду упоминать о конкретном классе или способности, и все же не ожидайте в этой статье получить
        |гайд на конкретно интересующий вас класс.

    h2(class="editable") 
        |2. Введение
    
    p(class="editable")
        |&emsp;
        |Вы, несомненно, слышали много историй о том, как танком быть сложно, и о том что это довольно напряженная и трудная роль в игре.
        |Тем не менее любой игрок может стать отличным танком, если он поймет, что от него требуется в игре. Это утверждение верно для всех ролей
        |в World of Warcraft, и танки, конечно же, не являются исключением.
    h2(class="editable") 
        |3. Как стать отличным танком
    p(class="editable")
        |&emsp;
        |Для того что бы вы поняли, как стать отличным танком, вам нужно представлять, как выглядит идеальный танк.
        |Ниже приведен список бесценных качеств нашего танка.
    ul(class="editable")
        li(class="editable")             
            |Провокация на атаку всех, кто может представлять опасность для его группы.
        li(class="editable")
            |Хорошая реакция в собираний новых мобов, прежде чем эти мобы атакуют других членов группы.
        li(class="editable")
            |Хорошая реакция на провокацию мобов, потерявших агр(происходит со всеми мобами в тот или иной момент)            
        li(class="editable")
            |Доскональное знание всей боевой механики, и благодаря этому, знание, когда и куда перемещаться,
            |а также когда и как использовать свои защитные(а иногда наступательные) способности.
        li(class="editable")
            |Понимание различных позиционных требований(особенно для ближнего боя) DPS игроков. Умение максимально долго быть
            |вблизи цели.
        li(class="editable")
            |Наличие качеств лидера, отсутствие стеснения взять под контроль группу.

    p(class="editable")
        |&emsp;
        |В дополнение, хорошие танки делают прохождение подземелей достаточно плавным и быстрым.
    
    h2(class="editable")
        |4. Дополнительные инструменты
    
    p(class="editable")
        |&emsp;
        |В этом разделе мы рассмотрим ряд вещей, улучшающих аспекты танкования, но не связанных конкретно с игровой механикой.

    h3(class="editable")
        |4.1. Аддоны и настройки пользовательского интерфейса
    
    p(class="editable")
        |&emsp;
        |В то время как стандартный пользовательский интерфейс Blizzard полностью функционален и позволяет выполнить все что
        |вам потребуется в игре, он далеко не оптимален. Есть несколько аддонов и программ, которые облегчат жизнь как вам,
        |так и остальным участникам вашей группы.
    
    h4(class="editable")
        |4.1.1. Threat Meter
    
    p(class="editable")
        |&emsp;
        |Аддон 
        a(href="https://www.curseforge.com/wow/addons/omen-threat-meter" class="editable" target="_blank") Omen Threat Meter 
        |- ведёт статистику и отображает уровень аггро как вашего чара так и чужого. В дополнение к этому,
        |он так же отображает другую полезную информацию, например, как долго остается времени до тех пор, пока не исчезнут эффекты,
        |способуствующие изменению вашего агра(  
        a(class="wowheadlink spell" data-wowhead="spell=34477;domain=ru" class="editable" href="http://ru.wowhead.com/spell=34477" target="_blank") 
            span(class="editable")    
                |Перенаправление     
        |,
        a(class="wowheadlink spell" class="editable" data-wowhead="spell=586;domain=ru" href="http://ru.wowhead.com/spell=586" target="_blank") 
            span(class="editable")    
                |Уход в тень 
        |).
    
    h4(class="editable")
        |4.1.2. Name Plates

    p(class="editable")
        |&emsp;
        a(href="https://www.curseforge.com/wow/addons/tidy-plates" class="editable" target="_blank") Tidy plates 
        |меняет стандартные близзардовские неймплейты на более функциональные.
        |Таблички с именами-это, по сути, бары, которые появляются над различными врагами (и дружественными единицами, если вы этого хотите)
        |в вашей близости. Они не только позволяют вам легко выбирать врагов (нажав на таблички с именами), но они также могут предоставить
        |другую полезную информацию.

    p(class="editable")
        |&emsp;
        |Threat Plates позволяет вам увидеть над кем у вас есть агр, а над кем нет. Так вы сможете увидеть цели над которыми вы, вероятно, потеряете агр
        |в ближайшее время.

    p(class="editable")   
        |&emsp;
        |Это достигается подсвечиванием наймплейтов близрасположенных врагов. Например цели, над которыми у вас есть агр,
        |зеленые и меньше по размеру, в то время как не заагреные цели красные и больше по размеру.

    h4(class="editable")
        |4.1.3. Raid Announcements
    
    p(class="editable")
        |&emsp;
        |Очень важно что бы играя за танка вы поддерживали связь с вашим хиллом и группой. Сделать это с помощью голосового чата - неплохой вариант,
        |но он создает ненужный беспорядок. Кроме того, из-за различных звуков в игре, вас не всегда будет отчетливо слышно.

    p(class="editable")
        |&emsp;
        |Вы можете использовать аддон, который отпраявляет в чате сообщение, когда вы использовали ту или иную способность.

    p(class="editable")
        |&emsp;
        |Я рекомендую использовать аддон 
        a(href="https://www.curseforge.com/wow/addons/rsa" class="editable" target="_blank") Raeli's Spell Announcer 
        |. Советую для начала обьявлять группе о кулдаунах оборонительных способностей.

    h3(class="editable")
        |4.2. Биндинг клавиш
    
    p(class="editable")
        |&emsp;
        |Биндинг клавиш является почти обязательной практикой для всех классов и спецификаций, для танков биндинг еще более важен.
        |От скорости применеия способностей зависят шансы группы на успех. Танку часто приходится перемещать и вращать камеру, одновременно
        |используя различные способности, и вы просто не сможете это сделать, если будете применять способности мышкой.

    p(class="editable")
        |&emsp;
        |Рекомендую выставить биндинг для ваших основных способностей, генерирующих угрозу, насмешки, выживание и прерывания.

    h3(class="editable")
        |4.3. Оптимизация гира
    
    p(class="editable")
        |&emsp;
        |Очевидно, вы должны исследовать свой класс и специализацию и должным образом адаптировать вашего чара.
    
    h4(class="editable")
        |4.3.1. Адаптирование статов
    
    p(class="editable")
        |&emsp;
        |Адаптация вашего снаряжения к разным встречям с противником является важной частью в игре за танка.

    P(class="editable")
       |&emsp;
       |Таким образом, вы всегда должны собирать и носить с собой как можно больше альтернативных вещей и снаряжения.

    P(class="editable")
       |&emsp;
       |Это позволит вам менять снаряжение в каждом бою. Если вы знаете, что в сражение получите большой магический урон, вы можете взять тринкет,
       |рассеивающий магический урон, или повысить выносливость. Если сражение потребует от вас как можно большего агра, вы можете надеть предметы,
       |повышающие вашу силу или ловкость(в зависимости от того, что является вашим основным статусом).

    p(class="editable")   
        |&emsp;
        |Список можно продолжать бесконечно, но важно помнить, что отличная экипировка и талант танка всегда динамичны.
    
    h3(class="editable")
        |4.4. Понимание встреч с противником 
    
    p(class="editable") 
        |&emsp;
        |Как танк, вы должны быть знакомы со всеми видами встреч, в гораздо большей степени, чем игрок DPS или даже целитель.

    p(class="editable") 
        |&emsp;
        |Когда вы знакомы с разными видами сражений вы будете знать лучшее время, чтобы использовать оборонительные или наступательные кулдауны, или
        |какая позиция идеально подходить для босса.

    p(class="editable") 
        |&emsp;
        |Кроме того, у вас есть уникальная возможность анализировать встречи с врагами, и предложить группе советы по улучшению прохождения подземелья.

    p(class="editable") 
        |&emsp;
        |Знакомство с различными группами сусорных мобов также важно для танка. Зная точно, что они делают, насколлько опасны и какой контроль толпы необходим, готовы
        |ли вы и ваш целитель(и) принять их.

    p(class="editable") 
        |&emsp;
        |Знакомство с механикой столкновений и механикой мусорных мобов, позволяет вам "отмечать цели", о чем я кратко расскажу в слежующем разделе.

    h4(class="editable")
        |4.4.1 Маркировка целей
    
    p(class="editable") 
        |&emsp;
        |Игра позволяет игрокам, которые являются лидерами группы или рейда, размещать определенные маркировки по своему выбору над головами
        |дружественных или враждебных целей.

    p(class="editable") 
        |&emsp;
        |Обычно это делается щелчком правой кнопки мыши на иконке еденичной цели и выбором метки, но это также может быть сделано
        |с помощью привязки клавиш. Есть также дполнения, которые служат этой цели, но я не считаю их необходимыми.

    p(class="editable") 
        |&emsp;
        |Метки над целями видны всем членам вашей группы или рейда и служат средством координаций. Значения значков устанавливается общиим
        |консенсусом или конкретными целями до сражения.

    p(class="editable") 
        |&emsp;
        |Как танк, вы должны привязать по крайней мере 3-4 метки к доступным клавишам и часто использовать маркировки целей, каких мобов ваы хотите
        |убить в первую очередь, а каких оставить для контроля толпы.
        
    p(class="editable") 
        |&emsp;
        |Имейте в виду, что во время редовых встреч маркировка, как правило, является прерогативой вашего лидера рейда, и самому лучше ее не менять.

    h2(class="editable") 
        |5. Агр
    
    p(class="editable") 
        |&emsp;
        |Этот раздел будет охватывать все, что вам нужно знать, в роли танка, о получении, сохранении и восстановлении аггра. Однако сначала нам необходимо рассмотреть некоторые вводные концепции.

    h3(class="editable")
        |5.1. Как работает агр и угроза от NPC
    
    p(class="editable") 
        |&emsp;
        |Генерация угрозы и поддержание аггра являются определяющими характеристиками танка. Понимание этих вещей имеет решающее значение для
        |вашей эффективности в игре.
    
    h4(class="editable")
        |5.1.1. Угроза  
    
    p(class="editable") 
        |&emsp;
        |Угроза - это средство измерения уровня враждебности моба по отношению к конкретному игроку. У каждого моба есть таблица угроз, и
        |каждый, кто выполняет враждебные действия по отношению к этому мобу, помещается в эту таблицу.
    
    p(class="editable") 
        |&emsp;
        |Существуют два основных действия, которые создают угрозу: нанесение урона и исцеление. Другие действия, такие как привидение баффа
        |или дебаффа, также создают угрозу, но в очень небольших количествах, и я думаю их не стоит обсуждать.

    p(class="editable") 
        |&emsp;
        |Как правило, угроза генерируется в соотношений 1:1 с уроном, бнанесенным мобу, и сооьношение 1:2 с исцелением. Тем не менее, для того,
        |чтобы облегчить танкинг, танки создают гораздо большую угрозу от их урона.

    p(class="editable") 
        |&emsp;
        |Кроме того, угроза не разрушается(уменьшается) со временем или иначе, если только не используется конкретная способность, которая имеет
        |этот эффект(например,
        a(class="wowheadlink spell" class="editable" data-wowhead="spell=586;domain=ru" href="http://ru.wowhead.com/spell=204013" target="_blank") 
            span(class="editable")    
                |Благословение спасения
        |), или если механика столкновения специально влияет на угрозу.

    p(class="editable") 
        |&emsp;
        |Наконец, угроза сбрасывается, если игрок умирает или иным образом покидает бой с мобом, и она не может иметь отрицательного значения.
    
    p(class="editable") 
        |&emsp;
        |Существует много типов модификаторов угроз, особенно способности, основанные на столкновениях, которые рассеивают угрозу исходящую от других
        |игроков(принудительное переключение на танков). Есть также дружественные способности, такие как 
        a(class="wowheadlink spell" class="editable" data-wowhead="spell=586;domain=ru" href="http://ru.wowhead.com/spell=57934" target="_blank") 
            span(class="editable")    
                |Маленькие хитрости
        |
        |и
        |
        a(class="wowheadlink spell" class="editable" data-wowhead="spell=34477;domain=ru" href="http://ru.wowhead.com/spell=34477" target="_blank") 
            span(class="editable")    
                |Перенаправление
        |, которые предлагают временную передачу угрозы.

    h4(class="editable")
        |5.1.1. Агр
    
    p(class="editable") 
        |&emsp;
        |Агр - это состояние, в котором игроки оказываются, когда у них есть наибольшее количество угрозы против определенного моба,
        |и этот моб атакует их из-за этого. Это , в принципе, является целью каждого танка.
    
    p(class="editable") 
        |&emsp;
        |Важно иметь в виду, что будут моменты, когда вы захотите избежать аггра мобов. Это происходит в боях, которые требуют нескольких
        |танков, каждый со своими задачами. Также это понадобиться, когда механика боя ослабляет вас чем то, что делает вас чрезвычайно
        |уязвимым для босса или других мобов.

    p(class="editable") 
        |&emsp;
        |Стоит также знать, что у вас не получиться саггрить моба, просто обогнав текщую максимальную угрозу. Например если у
        |человека, который в настоящее время имеет аггр босса, есть угроза 1 000 000, достижение угрозы 1 000 001 не заставит босса
        |атаковать вас. Существует порог, который должен быть соблюден: 110% угрозы текущей цели аггра, если вы находитесь в ближнем бою
        |от босса, и 130%, если вы находитесь вдали от босса.

    p(class="editable") 
        |&emsp;
        |Когда любой из этих порогв будет превышен, босс переключиться на нового игрока с наивысшей угрозой, и танк должен будет обогнать
        |этого человека на 110%/130%, чтобы вернуть аггр.

    p(class="editable") 
        |&emsp;
        |Хоть и важно знать, как генерировать угрозу и как поддерживать аггр, вы должны сначала знать, что вы должны делать.

    h3(class="editable")
        |5.2. Ротация способностей
    
    p(class="editable") 
        |&emsp;
        |Хоть у танков и есть ротация, аналогичная ротациям DPS классов, для них эта ротация не является основной частью их игрового процесса.
        |Ротация танков существует только для создания угрозы и энергий, так же важна и выживаемость танков. 

    p(class="editable") 
        |&emsp;
        |Танки обычно имеют четыре категорий способностей:
    
    ul(class="editable")
        li(class="editable")             
            |Важные наносящие урон и создающие угрозу способности;
        li(class="editable")
            |Активные смягчающие урон способности, которые имеют короткие кулдауны и помогают выжить;
        li(class="editable")
            |Защитные способности с длинными кулдаунами;
        li(class="editable")
            |Другие способности: бафы, дебафы, оглушение/замедление, насмешки, способности мобильности и так далее.        

    h3(class="editable")
        |5.3. Начало аггра
    
    p(class="editable") 
        |&emsp;
        |Танки как правило начинают атаку первыми. Это означает, что вы получаете возможность атаковать босса раньше всех. Это,
        |теоретически, дает вам возможность получить первоначальный агр.

    p(class="editable") 
        |&emsp;
        |Хотя вы и можете обнаружить,что, начав бой с боссом нажав некоторые из ваших способностей(
        a(class="wowheadlink spell" class="editable" data-wowhead="spell=34477;domain=ru" href="http://ru.wowhead.com/spell=34477" target="_blank") 
            span(class="editable")    
                |Перенаправление
        |
        |или
        |
        a(class="wowheadlink spell" class="editable" data-wowhead="spell=586;domain=ru" href="http://ru.wowhead.com/spell=57934" target="_blank") 
            span(class="editable")    
                |Маленькие хитрости
        |), вы достигните цели саггрить босса, но это далеко не идеально.

    p(class="editable") 
        |&emsp;
        |Вы должны знать сколько угроз создают ваши способности, для планирования использования ваших способностей. Ниже приведены общие
        |рекомендаций по использованию способностей для аггра.
    
    ol(class="editable")
        li(class="editable")             
            |Всегда начинайте с способности, которая создает наибольшее количество угрозы.
        li(class="editable")
            |Будьте готовы использовать свою способность насмешки в тот момент, когда вы заметите, что потеряли аггр босса(но не раньше).
        li(class="editable")
            |Задерживайте свои дебафы и другие кулдауны выживания, пока вы не сделаете вашу угрозу стабильной(если механика боя не требует сразу использовать способности выживания).        
    
    p(class="editable") 
        |&emsp;
        |До того, как ваша угроза не стала стабильной, вы можете столкнуться с проблемами в самом начале боя, когда ваша угроза низка и у всех
        |DPS игроков нет кулдаунов и они находятся под эффектами своих зелий.

    p(class="editable") 
        |&emsp;
        |Поэтому вы должны соответствующем образом планировать вашу атаку и иметь на готове свои самые мощные способности. Вы должны их сочитать
        |с наступательными способностями, которыми обладает ваш класс, чтобы максимизировать количество урона и вашей угрозы.

    p(class="editable") 
        |&emsp;
        |В зависимости от группы, в которой вы будете танком, вы можете оказаться в ситуаций, когда вам придется бороться за внимание босса с 
        |другими DPS игроками.
        
    p(class="editable") 
        |&emsp;
        |Это может быть связано с желанием других игроков максимизировать урон по боссу, или нетерпеливостью. В любом случае, вы всегда должны
        |проявлять инициативу и быть агрессивным в бою.

    h4(class="editable")
        |5.3.1. Собирание мобов

    p(class="editable") 
        |&emsp;
        |В дополнение к обычному способу набирания аггра, вы часто будете сталкиваться с ситуациями, когда новые мобы присоединяются в бой.
    
    p(class="editable") 
        |&emsp;
        |Хорошее знание сражения имеет решающее значение, потому что важно знать, когда и где появяться новые мобы, особенно если вы хотите
        |использовать наземные способности угрозы.
    
    p(class="editable") 
        |&emsp;
        |Вы также должны следить не саггрились ли новые мобы на вашего хилла. Поскольку хиллер постоянно произносит заклинания, велика вероятность,
        |что новые мобы саггряться на него. Вы должны быть готовы к такой ситуаций, находиться в хорошей позиций, и не стесняться саггривать на себя 
        |пачки новых мобов.
    
    p(class="editable") 
        |&emsp;
        |Как правило, практика лучше всего помогает научиться хорошо собирать новых мобов.

    h4(class="editable")
        |5.3.2. Использование наступательных способностей

    p(class="editable") 
        |&emsp;
        |У всех танков есть своего рода наступательные способности. Иногда они снжиают время восстановления или стоимость ресурсов некоторых
        |способностей, а иногда просто увеличивают наносимый урон.
    
    p(class="editable") 
        |&emsp;
        |Это естественно думать, что, как танк, вы сосредоточитесь на использований защитных способностей. Тем не менее, для того, что бы быть
        |успешным в управлений угрозой, также в критические моменты важно использовать наступательные способности.

    h3(class="editable")
        |5.4. Поддержание аггра

    p(class="editable") 
        |&emsp;
        |Бывают случаи, когда поддержание аггра может быть сложным, например, когда вы сильно отстаете по сравнению с игроками DPS, когда вам нужно
        |переключиться на другую цель, или когда механика встречи увеличивает урон, наносимый игроками DPS, но не танкам.
    
    p(class="editable") 
        |&emsp;
        |В любом случае, лучший способ не терять аггр в течение длительного периода времени знать приоритет своих способностей. Важно понимать,
        |какие способности необходимо использовать при перезарядке и какими еще способностями(генерирующими угрозу) можно заполнить пробелы.
    
    h4(class="editable")
        |5.4.1. Переключение с помощью кнопки Tab
    
    p(class="editable") 
        |&emsp;
        |По-умолчанию кнопка Tab позволяет вам переключаться между разными врагами. Одно нажатие – и вот у вас уже в цели другой противник.
        |Это очень удобный способ, если вам нужно переключатся между 2-3 целями.
    
    p(class="editable") 
        |&emsp;
        |Используя Tab, можно эффективно танковать довольно большую группу мобов, набирая на каждом из них аггро, а не только АоЕ способностями.
        |Главное преимущество использования Tab это скорость – нажать один раз кнопку быстрее и проще, чем наводить мышку на цель и вручную выбирать врага.

    h3(class="editable")
        |5.5. Переагривание(таунт и переключение танка)
    
    p(class="editable") 
        |&emsp;
        |Существует две ситуации, когда нужно переагривать босса/моба с другого игрока: вы потеряли аггро и оно перешло к другому DPS игроку или танку, механика босса предполагает смену танков (ротацию танков).
        |Просто использовать таунт на мобе - это довольно просто, парочку вещей про смену танков. В первую очередь, вам нужно знать, когда и как использовать свой таунт (провокацию).

    h4(class="editable")
        |5.5.1. Как таунтить 

    p(class="editable") 
        |&emsp;
        |Хотя использование таунта кажется вполне себе простой и незатейливой задачей, пару вещей вам все-таки стоит понять.
    
    p(class="editable") 
        |&emsp;
        |В первую очередь, давайте разберемся, как таунт работает и как он влияет на угрозу.
    
    p(class="editable") 
        |&emsp;
        |После таунта моба срабатывают три эффекта:
    
    ol(class="editable")
        li(class="editable")             
            |Моб будет атаковать только вас в течение 3-х секунд.
        li(class="editable")
            |Игрок, который стаунтил босса, получает то же количество угрозы, которое было у человека, на котором было аггро на момент таунта.
        li(class="editable")
            |Увеличение генераций угрозы игрока на 200% в течение тех же 3-х секунд.
    
    p(class="editable") 
        |&emsp;
        |Что касается первого пункта, то таунт подвержен такому понятию, как диминишинг, то есть каждый последующий таунт, который был использован
        |в течение 15 секунд, будет провоцировать моба на меньшее количество времени. Более того, все таунты находятся на одном диминишинге, т.е.
        |таунт, скажем, Воина включит "15-тисекундное окно" диминишинга для таунта Паладина.
    
    p(class="editable") 
        |&emsp;
        |Таунт влияет на уровень угрозы только в том случае, если вы не находитесь наверху таблицы угрозы. Если вы находитесь наверху таблицы
        |угрозы, то таунт только заставит мобов атаковать вас и увеличит генерацию угрозы в течение 3-х секунд. Использование таунта, когда вы наверху
        |таблицы угрозы, хороший способ, быть уверенным в том что ваша цель будет точно атаковать вас на протяжений таунта, или увеличить генерацию угрозы
        |на протяжений 3-х секунд.
    
    p(class="editable") 
        |&emsp;
        |Время восстановления таунта относительно не велико, и это ключевая часть инструментария любого танка, так что не бойтесь часто использовать таунт.
        |Вы можете подумать, что сам факт нужды таунтить босса с ДПСера - это позорно, потому что вы не смогли сдержать аггро, однако это зачастую не так.
        |Хороший танк знает, что из бесплатного и эффективного таунта можно извлечь очень много пользы.
    
    p(class="editable") 
        |&emsp;
        |Во-вторых, вы должны понять следующее: если вы собрались кого-то таунтить, то не используйте способности для набора угрозы ДО таунта, потому что
        |они бесполезны (потому что таунт поднимет вас на верхушку списка угрозы в любом случае). Лучше использовать способности, которые набирают больше
        |всего угрозы, когда вы уже стаунтили. Это обеспечит вам задел между вами и вторым человеком в списке Omen'а. Очень полезно.

    p(class="editable") 
        |&emsp;
        |Плюс к тому, таунтить моба, на котором у вас нет аггро и которого вы не можете достать способностями, абсолютно бесполезно. Вы всегда должны
        |стараться подойти поближе к мобам, на котором нет аггро, после чего уже таунтить их и атаковать. В противном случае моб просто убежит от вас,
        |когда те 3 секунды истекут. Если у вас есть способности дальнего боя, то вы можете, в приципе, использовать и их, но такие способности обычно малоэффективны у танков.
    
    p(class="editable") 
        |&emsp;
        |И, наконец, таунт (из-за диминишинга и бесполезности, если моб уже на вас) не стоит использовать как часть ротации. Его стоит оставлять до тех времен, когда он действительно нужен.

    h4(class="editable")
        |5.5.2. Как меняться с другим танком
    
    p(class="editable") 
        |&emsp;
        |Существует великое множество сражений в игре, в которых танкам нужно таунтить босса друг с друга раз в определенное время. Обычно это происходит из-за дебаффов, накладывающихся на текущего танка босом.
    
    p(class="editable") 
        |&emsp;
        |Практика сама по себе не сложна, но отметить пару вещей стоит.

    ol(class="editable")
        li(class="editable")             
            |Вы должны понимать, когда нужно таунтить босса, когда его стаунтят с вас и через какие промежутки времени это происходит. ДБМ обычно подсказывает вам, когда подходит время, но лучше перестраховаться
            |и смотреть на дебаффы своего сотоварища-танка.
        li(class="editable")
            |Не забудьте использовать (и приготовить заранее) способности, которые набирают больше всего угрозы, чтобы не потерять босса сразу после таунта.
        li(class="editable")
            |Когда с вас стаунтили босса, то на некоторое время вам стоит прекратить бить босса способностями, которые набирают много угрозы, чтобы помочь второму танку стабилизировать аггро. В принципе,
            |если того бой позволяет, на пару секунд вы даже можете прекратить автоатаковать.
    
    p(class="editable") 
        |&emsp;
        |Перед таунтам мы советуем вам определить последующую позицию босса. Это особенно важно на боссах "драконьего" типа. у которых есть и дыхание, и удары хвостом. В принципе, чаще всего лучше просто
        |встать во второго танка, чтобы после таунта босс вообще не сдвинулся с места.

    p(class="editable") 
        |&emsp;
        |И, наконец, очень важно расположить себя любимого за боссом, пока вы его не танкуете. В таком случае ваши атаки не парируют, а вы не получаете лишнего урона от дыхания или кливов.
        |Это не касается тех случаев, когда механика боя требует от танков всегда стоять перед лицом босса.
    
    h2(class="editable") 
        |5. Выживание
    
    p(class="editable") 
        |&emsp;
        |Многие думают, что выживание танка целиком и полностью находится в руках хилеров, однако это далеко от правды. Конечно, если хилы никуда не годятся, то вы умрете. Мало что
        |можно с этим поделать. С другой стороны, даже идеальных хилер не сможет обеспечить вам жизнь, если вы в один миг забьете на все свои защитные способности.
    
    p(class="editable") 
        |&emsp;
        |Эта секция будет короткой, но прочитать ее стоит.
    
    h3(class="editable")
        |6.1. Активная система защиты
    
    p(class="editable") 
        |&emsp;
        |Теперь каждый танковый класс обладает некоторыми активными способностями, которые помогают танку не умереть. Обычно это способности с небольшим
        |или отсутствующим напрочь кулдауном, которые дают приятный бонус, но и стоят дорого. Вы должны научиться постоянно использовать данные
        |способности в ротации, потому что иначе вас нельзя будет выхилить.
    
    p(class="editable") 
        |&emsp;
        |В данном гайде эти атакующие способности для защиты не рассматриваются. Посетите гайды, чтобы почитать про свой класс подробнее.
    
    h4(class="editable")
        |6.1.1. Активные проверки мигигаций
    
    p(class="editable") 
        |&emsp;
        |Боссы в Легионе(в основном в данжах) иногда будут иметь способности, которые требуют способностей митигаций от танка, что бы предотвратить некоторые негативные
        |побочные эффекты. У каждого танка есть по одной способности митигаций(у ДК две).
    
    p(class="editable") 
        |&emsp;
        |Ниже представлены способности мигитаций для каждого спека танков.

    ul(class="editable")
        li(class="blood_dk" class="editable")             
            |Рыцарь Смерти Кровь:        
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=49998;domain=ru" href="http://ru.wowhead.com/spell=49998" target="_blank") 
                span(class="editable")    
                    |Удар смерти       
            |
            |и
            |
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=195182;domain=ru" href="http://ru.wowhead.com/spell=195182" target="_blank") 
                span(class="editable")    
                    |Дробление хребта                
        li(class="vengeance_dh" class="editable")
            |Охотник на демонов месть:
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=203720;domain=ru" href="http://ru.wowhead.com/spell=203720" target="_blank") 
                span(class="editable")    
                    |Демонические шипы 
        li(class="guardian_druid" class="editable")
            |Друид Страж:  
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=192081;domain=ru" href="http://ru.wowhead.com/spell=192081" target="_blank") 
                span(class="editable")    
                    |Железный мех     
        li(class="brewmaster_monk" class="editable")
            |Монах Хмелевар:
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=115308;domain=ru" href="http://ru.wowhead.com/spell=115308" target="_blank") 
                span(class="editable")    
                    |Отвар железной шкуры
        li(class="protection_paladin" class="editable")
            |Паладин Защита:
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=53600;domain=ru" href="http://ru.wowhead.com/spell=53600" target="_blank") 
                span(class="editable")    
                    |Щит праведника
        li(class="protection_warrior" class="editable")
            |Воин Защита:
            a(class="wowheadlink spell" class="editable" data-wowhead="spell=2565;domain=ru" href="http://ru.wowhead.com/spell=2565" target="_blank") 
                span(class="editable")    
                    |Блок щитом