ul(class="list_of_dropdowns")
    div(class="sub_nav_content")
        li(class="dropdown")
            a(href="#" class="dropbtn") Классы
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                a(href="#") Link1
                a(href="#") Link2
                a(href="#") Link3
        li(class="dropdown")
            a(href="#" class="dropbtn") Трансмог
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                a(href="#") Link1                     
                a(href="#") Link2
                a(href="#") Link3
        li(class="dropdown")
            a(href="#" class="dropbtn") ПвП
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                div(class="nav_content_block")
                    div(class="nav_content_block_title header") PvP Guides    
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Tier List
                            div(class="nav_content_block_entry")
                                a(href="#") Top PvP Addons
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        
                    a(href="#") Link1
                    a(href="#") Link2
                    a(href="#") Link3
        li(class="dropdown")
            a(href="#" class="dropbtn") Рейды
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                a(href="#") Link1
                a(href="#") Link2
                a(href="#") Link3
        li(class="dropdown")
            a(href="#" class="dropbtn") Мифик+
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                a(href="#") Link1
                a(href="#") Link2
                a(href="#") Link3
        li(class="dropdown")
            a(href="#" class="dropbtn") Задания
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                a(href="#") Link1
                a(href="#") Link2
                a(href="#") Link3
        li(class="dropdown")
            a(href="#" class="dropbtn") Эвенты
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                a(href="#") Link1
                a(href="#") Link2
                a(href="#") Link3