ul(class="list_of_dropdowns")
    div(class="sub_nav_content")
        li(class="dropdown")
            a(href="#" class="dropbtn") Классы
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                div(class="nav_content_block")
                    div(class="nav_content_block_title header") Общие гайды
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="/wow/tanking_guide") Танкование
                            div(class="nav_content_block_entry")
                                a(href="#") Healing Guide
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_dk")
                        span(class="dk") Рыцарь смерти
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Blood
                            div(class="nav_content_block_entry")
                                a(href="#") Frost 
                            div(class="nav_content_block_entry")
                                a(href="#") Unholy    
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)    
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_dh")
                        span(class="dh") Охотник на демонов
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Havoc
                            div(class="nav_content_block_entry")
                                a(href="#") Vengeance
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110) 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_druid")
                        span(class="druid") Друид
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Balance                                 
                            div(class="nav_content_block_entry")
                                a(href="#") Feral
                            div(class="nav_content_block_entry")
                                a(href="#") Guardian
                            div(class="nav_content_block_entry")
                                a(href="#") Restoration
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110) 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_hunter")
                        span(class="hunter") Охотник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Beast Mastery                         
                            div(class="nav_content_block_entry")
                                a(href="#") Markmanship
                            div(class="nav_content_block_entry")
                                a(href="#") Survival
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110) 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_mage")
                        span(class="mage") Маг
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Arcane
                            div(class="nav_content_block_entry")
                                a(href="#") Fire
                            div(class="nav_content_block_entry")
                                a(href="#") Frost
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110) 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_monk")
                        span(class="monk") Монах
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Brewmaster
                            div(class="nav_content_block_entry")
                                a(href="#") Mistweaver
                            div(class="nav_content_block_entry")
                                a(href="#") Windwalker
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110) 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_paladin")
                        span(class="paladin") Паладин
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Holy
                            div(class="nav_content_block_entry")
                                a(href="#") Protection
                            div(class="nav_content_block_entry")
                                a(href="#") Retribution
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_priest")
                        span(class="priest") Жрец
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Discipline
                            div(class="nav_content_block_entry")
                                a(href="#") Holy
                            div(class="nav_content_block_entry")
                                a(href="#") Shadow
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_rogue")
                        span(class="rogue") Разбойник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Assassination
                            div(class="nav_content_block_entry")
                                a(href="#") Outlaw
                            div(class="nav_content_block_entry")
                                a(href="#") Subtlety
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_shaman")
                        span(class="shaman") Шаман
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Elemental
                            div(class="nav_content_block_entry")
                                a(href="#") Enhancement
                            div(class="nav_content_block_entry")
                                a(href="#") Restoration
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_warlock")
                        span(class="warlock") Чернокнижник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Affliction
                            div(class="nav_content_block_entry")
                                a(href="#") Demonology
                            div(class="nav_content_block_entry")
                                a(href="#") Destruction
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_warrior")
                        span(class="warrior") Воин
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Arms
                            div(class="nav_content_block_entry")
                                a(href="#") Fury
                            div(class="nav_content_block_entry")
                                a(href="#") Protection
                            div(class="nav_content_block_entry")
                                a(href="#") Leveling Up (100-110)
        li(class="dropdown")
            a(href="#" class="dropbtn") Трансмог
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")                
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_dk")
                        span(class="dk") Рыцарь смерти
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models      
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_dh")
                        span(class="dh") Охотник на демонов
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models  
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_druid")
                        span(class="druid") Друид
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_hunter")
                        span(class="hunter") Охотник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_mage")
                        span(class="mage") Маг
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_monk")
                        span(class="monk") Монах
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_paladin")
                        span(class="paladin") Паладин
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_priest")
                        span(class="priest") Жрец
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_rogue")
                        span(class="rogue") Разбойник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_shaman")
                        span(class="shaman") Шаман
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_warlock")
                        span(class="warlock") Чернокнижник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_warrior")
                        span(class="warrior") Воин
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Armor Sets
                            div(class="nav_content_block_entry")
                                a(href="#") Items Models 
                div(class="nav_content_block")
                    div(class="nav_content_block_title header") Все классы 
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") All Items                            
        li(class="dropdown")
            a(href="#" class="dropbtn") ПвП
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                div(class="nav_content_block")
                    div(class="nav_content_block_title header") ПвП гайды  
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Tier List
                            div(class="nav_content_block_entry")
                                a(href="#") Top PvP Addons
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_dk")
                        span(class="dk") Рыцарь смерти
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Unholy PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Frost PvP      
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_dh")
                        span(class="dh") Охотник на демонов
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Havoc PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_druid")
                        span(class="druid") Друид
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Balance PvP                                   
                            div(class="nav_content_block_entry")
                                a(href="#") Feral PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Restoration PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_hunter")
                        span(class="hunter") Охотник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Beast Mastery PvP                           
                            div(class="nav_content_block_entry")
                                a(href="#") Markmanship PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Survival PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_mage")
                        span(class="mage") Маг
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Arcane PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Fire PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Frost PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_monk")
                        span(class="monk") Монах
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Mistweaver PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Windwalker PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_paladin")
                        span(class="paladin") Паладин
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Holy PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Retribution PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_priest")
                        span(class="priest") Жрец
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Discipline PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Holy PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Shadow PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_rogue")
                        span(class="rogue") Разбойник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Assassination PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Outlaw PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Subtlety PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_shaman")
                        span(class="shaman") Шаман
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Elemental PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Enhancement PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Restoration PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_warlock")
                        span(class="warlock") Чернокнижник
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Affliction PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Demonology PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Destruction PvP
                div(class="nav_content_block nav_content_block_wow_class")
                    div(class="nav_content_block_title header")
                        img(class="sprite_wow_class sprite_wow_class_warrior")
                        span(class="warrior") Воин
                    div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Arms PvP
                            div(class="nav_content_block_entry")
                                a(href="#") Fury PvP                            
        li(class="dropdown")
            a(href="#" class="dropbtn") Рейды
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content")
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Antorus, the Burning Throne 
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Overview
                            div(class="nav_content_block_entry")
                                a(href="#") Garothi Worldbreaker
                            div(class="nav_content_block_entry")
                                a(href="#") Felhounds of Sargeras
                            div(class="nav_content_block_entry")
                                a(href="#") Antoran High Command
                            div(class="nav_content_block_entry")
                                a(href="#") Portal Keeper Hasabel
                            div(class="nav_content_block_entry")
                                a(href="#") Eonar the Life-Binder
                            div(class="nav_content_block_entry")
                                a(href="#") Imonar the Soulhunter
                            div(class="nav_content_block_entry")
                                a(href="#") Kin'garoth Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Varimathras Guide
                            div(class="nav_content_block_entry")
                                a(href="#") The Coven of Shivarra
                            div(class="nav_content_block_entry")
                                a(href="#") Aggramar Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Argus the Unmaker Guide
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Tomb of Sargeras
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Overview
                            div(class="nav_content_block_entry")
                                a(href="#") Goroth Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Demonic Inquisition Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Harjatan Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Sisters of the Moon Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Mistress Sassz'ine Guide
                            div(class="nav_content_block_entry")
                                a(href="#") The Desolate Host Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Maiden of Vigilance Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Fallen Avatar Guide
                            div(class="nav_content_block_entry")
                                a(href="#") Kil'jaeden Guide 
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Nighthold
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Overview
                            div(class="nav_content_block_entry")
                                a(href="#") Skorpyron
                            div(class="nav_content_block_entry")
                                a(href="#") Trilliax
                            div(class="nav_content_block_entry")
                                a(href="#") Spellblade Aluriel
                            div(class="nav_content_block_entry")
                                a(href="#") Tichondrius
                            div(class="nav_content_block_entry")
                                a(href="#") Krosus
                            div(class="nav_content_block_entry")
                                a(href="#") High Botanist Tel'arn
                            div(class="nav_content_block_entry")
                                a(href="#") Star Augur Etraeus
                            div(class="nav_content_block_entry")
                                a(href="#") Grand Magistrix Elisande
                            div(class="nav_content_block_entry")
                                a(href="#") Gul'dan  
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Older Raids and Dungeons
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Trial of Valor
                            div(class="nav_content_block_entry")
                                a(href="#") The Emerald Nightmare
                            div(class="nav_content_block_entry")
                                a(href="#") Hellfire Citadel
                            div(class="nav_content_block_entry")
                                a(href="#") Blackrock Foundry
                            div(class="nav_content_block_entry")
                                a(href="#") Highmaul
                            div(class="nav_content_block_entry")
                                a(href="#") Siege of Orgrimmar
                            div(class="nav_content_block_entry")
                                a(href="#") Pandaria
                            div(class="nav_content_block_entry")
                                a(href="#") Throne of Thunder
                            div(class="nav_content_block_entry")
                                a(href="#") Terrace of Endless Spring
                            div(class="nav_content_block_entry")
                                a(href="#") Heart of Fear
                            div(class="nav_content_block_entry")
                                a(href="#") Mogu'shan Vaults
                            div(class="nav_content_block_entry")
                                a(href="#") Dragon Soul 
                            div(class="nav_content_block_entry")
                                a(href="#") Baradin Hold
                            div(class="nav_content_block_entry")
                                a(href="#") Firelands
                            div(class="nav_content_block_entry")
                                a(href="#") Blackwing Descent
                            div(class="nav_content_block_entry")
                                a(href="#") Throne of the Four Winds
                            div(class="nav_content_block_entry")
                                a(href="#") Bastion of Twilight
                            div(class="nav_content_block_entry")
                                a(href="#") Pre-WoD Dungeons                                               
        li(class="dropdown")
            a(href="#" class="dropbtn") Мифик+
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content" id="nav_mythic_section")
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Mythic+ Dungeons
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Upper Karazhan
                            div(class="nav_content_block_entry")
                                a(href="#") Lower Karazhan
                            div(class="nav_content_block_entry")
                                a(href="#") Halls of Valor
                            div(class="nav_content_block_entry")
                                a(href="#") Black Rook Hold
                            div(class="nav_content_block_entry")
                                a(href="#") Darkheart Thicket
                            div(class="nav_content_block_entry")
                                a(href="#") Eye of Azshara
                            div(class="nav_content_block_entry")
                                a(href="#") Neltharion's Lair
                            div(class="nav_content_block_entry")
                                a(href="#") Vault of the Wardens                              
        li(class="dropdown")
            a(href="#" class="dropbtn") Задания
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content" id="nav_quests_section")
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Quest Lines
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Legendary Rings
                            div(class="nav_content_block_entry")
                                a(href="#") Breath of the Black Prince
                            div(class="nav_content_block_entry")
                                a(href="#") Fangs of the Father
                            div(class="nav_content_block_entry")
                                a(href="#") Dragonwrath
                            div(class="nav_content_block_entry")
                                a(href="#") Elemental Bonds  
                    div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Fraction Reputations
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Army of the Light
                            div(class="nav_content_block_entry")
                                a(href="#") Argussian Reach
                            div(class="nav_content_block_entry")
                                a(href="#") Armies of Legionfall
                            div(class="nav_content_block_entry")
                                a(href="#") Court of Farondis
                            div(class="nav_content_block_entry")
                                a(href="#") The Dreamweavers
                            div(class="nav_content_block_entry")
                                a(href="#") Highmountain Tribe  
                            div(class="nav_content_block_entry")
                                a(href="#") The Nightfallen
                            div(class="nav_content_block_entry")
                                a(href="#") The Valarjar
                            div(class="nav_content_block_entry")
                                a(href="#") The Wardens
                            div(class="nav_content_block_entry")
                                a(href="#") Hand of the Prophet
                            div(class="nav_content_block_entry")
                                a(href="#") Vol'jin's Headhunters 
                            div(class="nav_content_block_entry")
                                a(href="#") Order of the Awakened  
                            div(class="nav_content_block_entry")
                                a(href="#") The Saberstalkers
                            div(class="nav_content_block_entry")
                                a(href="#") Council of Exarchs
                            div(class="nav_content_block_entry")
                                a(href="#") Frostwolf Orcs
                            div(class="nav_content_block_entry")
                                a(href="#") Laughing Skull Orcs 
                            div(class="nav_content_block_entry")
                                a(href="#") Sha'tari Defense
                            div(class="nav_content_block_entry")
                                a(href="#") Arakkoa Outcasts  
                            div(class="nav_content_block_entry")
                                a(href="#") Steamwheedle
                            div(class="nav_content_block_entry")
                                a(href="#") Golden Lotus
                            div(class="nav_content_block_entry")
                                a(href="#") Shado-Pan
                            div(class="nav_content_block_entry")
                                a(href="#") The Anglers 
                            div(class="nav_content_block_entry")
                                a(href="#") The August Celestials 
                            div(class="nav_content_block_entry")
                                a(href="#") The Klaxxi  
                            div(class="nav_content_block_entry")
                                a(href="#") The Tillers          
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Tools
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Completed Quests Checker                                                                     
        li(class="dropdown")
            a(href="#" class="dropbtn") Эвенты
                img(src="/images/icons/tools/icon_down_arrow.png" class="nav_indicator")
            div(class="dropdown-content" id="nav_events_section")
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Events
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Greater Invasion Points
                            div(class="nav_content_block_entry")
                                a(href="#") Invasion Points
                            div(class="nav_content_block_entry")
                                a(href="#") Broken Shore
                            div(class="nav_content_block_entry")
                                a(href="#") Brawler's Guild
                            div(class="nav_content_block_entry")
                                a(href="#") Garrisons
                            div(class="nav_content_block_entry")
                                a(href="#") Tanaan Jungle Dailies
                            div(class="nav_content_block_entry")
                                a(href="#") Timeless Isle
                            div(class="nav_content_block_entry")
                                a(href="#") Isle of Thunder
                            div(class="nav_content_block_entry")
                                a(href="#") Darkmoon Faire
                            div(class="nav_content_block_entry")
                                a(href="#") Operation: Shieldwall
                            div(class="nav_content_block_entry")
                                a(href="#") Dominance Offensive
                            div(class="nav_content_block_entry")
                                a(href="#") Firelands Dailies
                div(class="nav_content_block nav_content_block_whole_width")
                    div(class="nav_content_block_title header") Seasonal Events
                        div(class="nav_content_entries")                           
                            div(class="nav_content_block_entry")
                                a(href="#") Pirates' Day
                            div(class="nav_content_block_entry")
                                a(href="#") Harvest Festival
                            div(class="nav_content_block_entry")
                                a(href="#") Brewfest
                            div(class="nav_content_block_entry")
                                a(href="#") Hallow's End
                            div(class="nav_content_block_entry")
                                a(href="#") Day of the Dead
                            div(class="nav_content_block_entry")
                                a(href="#") Pilgrim's Bounty
                            div(class="nav_content_block_entry")
                                a(href="#") Feast of Winter Veil
                            div(class="nav_content_block_entry")
                                a(href="#") Lunar Festival
                            div(class="nav_content_block_entry")
                                a(href="#") Love is in the Air
                            div(class="nav_content_block_entry")
                                a(href="#") Noblegarden
                            div(class="nav_content_block_entry")
                                a(href="#") Children's Week
                            div(class="nav_content_block_entry")
                                a(href="#") Midsummer Fire Festival                             