html
    head
        title
            block title
        link(rel="stylesheet", href="/stylesheets/layout/blizzhelp_layout.css")
body(id="blizzhelp_body")
    header(id="header")
        block header
    div(id="main")
        h1
            block title
        block body
    footer
        block footer