extends ../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")   

block title
     |#{title}

block title_main
    h1
        case topic
            when "WoW"
                |Статьи о World of Warcraft
            when "Overwatch"
                |Статьи об Overwatch
            when "Any"
                |Все статьи

block body
    div(id="listOfArticlesComponent" class="__react-root" data-pageNumber=pageNumber data-topic=topic)