extends ../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")   

block title
     |#{title}

block title_main
    h1
        case topic
            when "WoW"
                h1(class="editable") 
                    |Статьи о World of Warcraft
            when "Overwatch"
                h1(class="editable") 
                    |Статьи об Overwatch
            when "Any"
                 h1(class="editable") 
                    |Все статьи

block body
    div(id="listOfArticlesComponent" class="__react-root" data-pageNumber=pageNumber data-topic=topic)