extends ../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")

block title
     |Access denied

block title_main
    h1
        |Access denied

block body    
    h2 
        |Possible causes to be added ...