extends ../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")

block title
     |User Unauthorized

block title_main
    h1
        |User Unauthorized 401

block body
    div(id="unauthorizedHandler" class="__react-root")
    h2 
        |Possible causes to be added ...