extends ../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")   

block title
     |Welcome to Blizzhelp

block title_main
    h1
        |Статьи об Overwatch

block footer
    p Here is footer
block body
    div(id="listOfArticlesComponent" class="__react-root" data-pageNumber=pageNumber data-topic=topic)
