extends ../../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")     

block title
    |Танкование в World of Warcraft

block title_main
    h1
        |Танкование в World of Warcraft

block body
    h2 
        |1. Цель этой статьи

    p 
        |&emsp;
        |В этой статье я попытаюсь охватить все аспекты танкования и расскажу
        |все что вам нужно знать для эффективной игры в роле танка.
        |Полезной статью могут найти как новички так и опытные игроки.       

    p
        |&emsp;
        |В этой статье не будет подробностей выбора талантов, описания обнаруживания невидимых противников и т.д.Вы 
        |можете найти всю конкретную информацию, относящуюся к классам танков в моих существующих руководствах.
        |Но это не означает, что я не буду упоминать о конкретном классе или способности, и все же не ожидайте в этой статье получить
        |гайд на конкретно интересующий вас класс.

    h2 
        |2. Введение
    
    p
        |&emsp;
        |Вы, несомненно, слышали много историй о том, как танком быть сложно, и о том что это довольно напряженная и трудная роль в игре.
        |Тем не менее любой игрок может стать отличным танком, если он поймет, что от него требуется в игре. Это утверждение верно для всех ролей
        |в World of Warcraft, и танки, конечно же, не являются исключением.
    h2 
        |3. Как стать отличным танком
    p
        |&emsp;
        |Для того что бы вы поняли, как стать отличным танком, вам нужно представлять, как выглядит идеальный танк.
        |Ниже приведен список бесценных качеств нашего танка.
    ul
        li             
            |Провокация на атаку всех, кто может представлять опасность для его группы.
        li
            |Хорошая реакция в собираний новых мобов, прежде чем эти мобы атакуют других членов группы.
        li
            |Хорошая реакция на провокацию мобов, потерявших агр(происходит со всеми мобами в тот или иной момент)            
        li
            |Доскональное знание всей боевой механики, и благодаря этому, знание, когда и куда перемещаться,
            |а также когда и как использовать свои защитные(а иногда наступательные) способности.
        li
            |Понимание различных позиционных требований(особенно для ближнего боя) DPS игроков. Умение максимально долго быть
            |вблизи цели.
        li
            |Наличие качеств лидера, отсутствие стеснения всзять под контроль группу.

    p
        |&emsp;
        |В дополнение, поскольку танки являются 
    