extends ../../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")     

block title
    |Танкование в World of Warcraft

block title_main
    h1
        |Танкование в World of Warcraft

block body
    h2 
        |1. Цель этой статьи

    p 
        |&emsp;
        |В этой статье я попытаюсь охватить все аспекты танкования и расскажу
        |все что вам нужно знать для эффективной игры в роле танка.
        |Полезной статью могут найти как новички так и опытные игроки.       

    p
        |&emsp;
        |В этой статье не будет подробностей выбора талантов, описания обнаруживания невидимых противников и т.д.Вы 
        |можете найти всю конкретную информацию, относящуюся к классам танков в моих существующих руководствах.
        |Но это не означает, что я не буду упоминать о конкретном классе или способности, и все же не ожидайте в этой статье получить
        |гайд на конкретно интересующий вас класс.

    h2 
        |2. Введение
    
    p
        |&emsp;
        |Вы, несомненно, слышали много историй о том, как танком быть сложно, и о том что это довольно напряженная и трудная роль в игре.
        |Тем не менее любой игрок может стать отличным танком, если он поймет, что от него требуется в игре. Это утверждение верно для всех ролей
        |в World of Warcraft, и танки, конечно же, не являются исключением.
    h2 
        |3. Как стать отличным танком
    p
        |&emsp;
        |Для того что бы вы поняли, как стать отличным танком, вам нужно представлять, как выглядит идеальный танк.
        |Ниже приведен список бесценных качеств нашего танка.
    ul
        li 
            |A great tank always has top aggro on all targets that they are assigned to
            |tank, and not on any other targets.
        li
            |A great tank has excellent reaction time in picking up new mobs, before
            |these mobs attack other raid members.
        li
            |A great tank has excellent reaction time on taunting back targets that they
            |lose aggro of (which happens to everyone at one time or another).
        li
            |A great tank is intimately familiar with all the fight mechanics, and
            |because of this, knows when and where to move, and when and how to use their
            |defensive (and sometimes offensive) cooldowns.
    