extends ../../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")     

block scripts    
    script var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize:'small'};
    script(src="//wow.zamimg.com/widgets/power.js")

block title
    |Танкование в World of Warcraft

block title_main
    h1
        |Танкование в World of Warcraft

block body
    h2 
        |1. Цель этой статьи

    p 
        |&emsp;
        |В этой статье я попытаюсь охватить все аспекты танкования и расскажу
        |все что вам нужно знать для эффективной игры в роле танка.
        |Полезной статью могут найти как новички так и опытные игроки.       

    p
        |&emsp;
        |В этой статье не будет подробностей выбора талантов, описания обнаруживания невидимых противников и т.д.Вы 
        |можете найти всю конкретную информацию, относящуюся к классам танков в моих существующих руководствах.
        |Но это не означает, что я не буду упоминать о конкретном классе или способности, и все же не ожидайте в этой статье получить
        |гайд на конкретно интересующий вас класс.

    h2 
        |2. Введение
    
    p
        |&emsp;
        |Вы, несомненно, слышали много историй о том, как танком быть сложно, и о том что это довольно напряженная и трудная роль в игре.
        |Тем не менее любой игрок может стать отличным танком, если он поймет, что от него требуется в игре. Это утверждение верно для всех ролей
        |в World of Warcraft, и танки, конечно же, не являются исключением.
    h2 
        |3. Как стать отличным танком
    p
        |&emsp;
        |Для того что бы вы поняли, как стать отличным танком, вам нужно представлять, как выглядит идеальный танк.
        |Ниже приведен список бесценных качеств нашего танка.
    ul
        li             
            |Провокация на атаку всех, кто может представлять опасность для его группы.
        li
            |Хорошая реакция в собираний новых мобов, прежде чем эти мобы атакуют других членов группы.
        li
            |Хорошая реакция на провокацию мобов, потерявших агр(происходит со всеми мобами в тот или иной момент)            
        li
            |Доскональное знание всей боевой механики, и благодаря этому, знание, когда и куда перемещаться,
            |а также когда и как использовать свои защитные(а иногда наступательные) способности.
        li
            |Понимание различных позиционных требований(особенно для ближнего боя) DPS игроков. Умение максимально долго быть
            |вблизи цели.
        li
            |Наличие качеств лидера, отсутствие стеснения взять под контроль группу.

    p
        |&emsp;
        |В дополнение, хорошие танки делают прохождение подземелей достаточно плавным и быстрым.
    
    h2 
        |4. Дополнительные инструменты
    
    p
        |&emsp;
        |В этом разделе мы рассмотрим ряд вещей, улучшающих аспекты танкования, но не связанных конкретно с игровой механикой.

    h3
        |4.1. Аддоны и настройки пользовательского интерфейса
    
    p
        |&emsp;
        |В то время как стандартный пользовательский интерфейс Blizzard полностью функционален и позволяет выполнить все что
        |вам потребуется в игре, он далеко не оптимален. Есть несколько аддонов и программ, которые облегчат жизнь как вам,
        |так и остальным участникам вашей группы.
    
    h4
        |4.1.1. Threat Meter
    
    p
        |&emsp;
        |Аддон 
        a(href="https://www.curseforge.com/wow/addons/omen-threat-meter" target="_blank") Omen Threat Meter 
        |- ведёт статистику и отображает уровень аггро как вашего чара так и чужого. В дополнение к этому,
        |он так же отображает другую полезную информацию, например, как долго остается времени до тех пор, пока не исчезнут эффекты,
        |способуствующие изменению вашего агра(  
        a(class="wowheadlink spell" data-wowhead="spell=34477;domain=ru" href="http://ru.wowhead.com/spell=34477" target="_blank") 
            span    
                |Перенаправление     
        |,
        a(class="wowheadlink spell" data-wowhead="spell=586;domain=ru" href="http://ru.wowhead.com/spell=586" target="_blank") 
            span    
                |Уход в тень 
        |).
    
    h4
        |4.1.2. Name Plates

    p
        |&emsp;
        a(href="https://www.curseforge.com/wow/addons/tidy-plates" target="_blank") Tidy plates 
        |меняет стандартные близзардовские неймплейты на более функциональные.
        |Таблички с именами-это, по сути, бары, которые появляются над различными врагами (и дружественными единицами, если вы этого хотите)
        |в вашей близости. Они не только позволяют вам легко выбирать врагов (нажав на таблички с именами), но они также могут предоставить
        |другую полезную информацию.

    p
        |&emsp;
        |Threat Plates позволяет вам увидеть над кем у вас есть агр, а над кем нет. Так вы сможете увидеть цели над которыми вы, вероятно, потеряете агр
        |в ближайшее время.

    p   
        |&emsp;
        |Это достигается подсвечиванием наймплейтов близрасположенных врагов. Например цели, над которыми у вас есть агр,
        |зеленые и меньше по размеру, в то время как не заагреные цели красные и больше по размеру.

    h4
        |4.1.3. Raid Announcements
    
    p
        |&emsp;
        |Очень важно что бы играя за танка вы поддерживали связь с вашим хиллом и группой. Сделать это с помощью голосового чата - неплохой вариант,
        |но он создает ненужный беспорядок. Кроме того, из-за различных звуков в игре, вас не всегда будет отчетливо слышно.

    p
        |&emsp;
        |Вы можете использовать аддон, который отпраявляет в чате сообщение, когда вы использовали ту или иную способность.

    p
        |&emsp;
        |Я рекомендую использовать аддон 
        a(href="https://www.curseforge.com/wow/addons/rsa" target="_blank") Raeli's Spell Announcer 
        |. Советую для начала обьявлять группе о кулдаунах оборонительных способностей.

    h3
        |4.2. Биндинг клавиш
    
    p
        |&emsp;
        |Биндинг клавиш является почти обязательной практикой для всех классов и спецификаций, для танков биндинг еще более важен.
        |От скорости применеия способностей зависят шансы группы на успех. Танку часто приходится перемещать и вращать камеру, одновременно
        |используя различные способности, и вы просто не сможете это сделать, если будете применять способности мышкой.

    p
        |&emsp;
        |Рекомендую выставить биндинг для ваших основных способностей, генерирующих угрозу, насмешки, выживание и прерывания.

    h3
        |4.3. Оптимизация гира
    
    p
        |&emsp;
        |Очевидно, вы должны исследовать свой класс и специализацию и должным образом адаптировать вашего чара.