html
    head
        title
            block title  
        link(rel="stylesheet", href="/stylesheets/common.css")
        link(rel="stylesheet", href="/stylesheets/main/react-loading.css")
        link(rel="stylesheet", href="/stylesheets/layout/blizzhelp_layout.css")     
        link(rel="stylesheet", href="/stylesheets/layout/games_sprites.css")     
        link(rel="stylesheet", href="/stylesheets/layout/auth_sprites.css")     
        link(rel="stylesheet", href="/stylesheets/layout/blizzhelp_layout_dropdown.css")    
        link(rel="shortcut icon", href="#")  
        block stylesheets
        block scripts        
body(id="blizzhelp_body")
    header(id="header")
        div(id="header_nav")
            div(id="auth")                               
                div(id="accountNavBar" class="__react-root loading" data-name="Valery")
            div(id="games")
                div(id="game_wow" class="game")   
                    a(href="/wow")  
                        img(id="sprite_wow" class="sprite_game")
                        span World of Warcraft                
                div(id="game_overwatch" class="game")
                    a(href="#")
                        img(id="sprite_overwatch" class="sprite_game")           
                        span Overwatch
                div(id="game_hearthstone" class="game")
                    a(href="#")
                        img(id="sprite_hearthstone" class="sprite_game")           
                        span Hearthstone    
        case dropdownFor
            when 'wow'
                include partials/dropdowns/wow_dropdown.pug       
    div(id="main")
        block title_main
        block body
    footer
        block footer
        script(src="/bundled/bundle.js")