#react-paginate {
    text-align: center;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
    cursor: pointer;
}

.previous_button {
    padding-right: 10px;
}

.next_button {
    padding-left: 10px;
}

#react-paginate .selected {
    color: red;
}
