extends ../../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")   

block title
     |#{title}

block body
    div(id="createArticleComponent" class="__react-root")