extends ../../layout.pug

block title
     |#{title}

block title_main
    h1(class="editable") 
        |Создать статью            

block body
    div(id="createArticleComponent" class="__react-root")